/dist
/out-tsc
# Only exists if Bazel was run

# dependencies
/node_modules


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc

npm-debug.log
yarn-error.log

# System Files
.DS_Store
Thumbs.db
